@{
    ViewBag.Title = "Create Person";
}

<a href="~/persons/index" class="link-hover">Persons</a>
<h>Person create</h>

<div class="container w-50">
    <form action="~/persons/create" method="post">
        <div class="form-field flex">
            <div class="w-25">
                <label for="PersonName" class="form-label pt">Name</label>
            </div>
            <div class="flex-1">
                <input type="text" id="PersonName" name="PersonName" class="form-input" />
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="Email" class="form-label ">Email</label>
            </div>
            <div class="flex-1">
                <input type="email" id="Email" name="Email" class="form-input" />
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="DateOfBirth" class="form-label pt">Date of Birth</label>
            </div>
            <div class="flex-1">
                <input type="date" id="DateOfBirth" name="DateOfBirth" class="form-input" />
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="Gender" class="form-label ">Gender</label>
            </div>
            <div class="flex-1">
                <input type="radio" name="Gender" value="Male" id="Male" class="ml" />
                <label for="Male">Male</label>
                <input type="radio" name="Gender" value="Female" id="Female" class="ml" />
                <label for="Female">Female</label>
                <input type="radio" name="Gender" value="Other" id="Other" class="ml" />
                <label for="Other">Other</label>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="CountryId" class="form-label ">Country</label>
            </div>
            <div class="flex-1">
                <select name="CountryId" id="CountryId" class="form-input">
                    <option>Select Country</option>
                    @foreach (CountryResponse item in ViewBag.Countries)
                    {
                        <option value="@item.CountryId">@item.CountryName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label for="Address" class="form-label ">Address</label>
            </div>
            <div class="flex-1">
                <textarea type="text" name="Address" class="form-input" id="Address"></textarea>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <input type="checkbox" name="ReceiveNewsLetters" id="ReceiveNewsLetters" value="true" />
                <label for="ReceiveNewsLetters" class="form-input">Receive News Letters</label>
            </div>
        </div>
        <div class="form-field flex">
            <div class="w-25"></div>

            <div class="w-25">
                <button type="submit" class="button button-green-back">Submit</button>
                <hr />
                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                        @foreach (var item in ViewBag.Errors)
                        {
                            <li>@item</li>
                        }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </form>
</div>